<!DOCTYPE html>
<html>
<head>
      <meta charset="utf-8">
      <title>袁泽平的网页计算器</title>
      <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
      <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="style.css">
      <script src="action.js"></script>
</head>
<body ng-app="myapp" ng-controller="buttonCtrl">
      <header><h1>欢迎使用网页计算器<h1></header>
        <section>
      <table>
      <thead>
      <tr>
          <input ng-model="text" disabled placeholder="YZP"></input>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td><button type="button" ng-click="input1()">1</button></td>
        <td><button type="button" ng-click="input2()">2</button></td>
        <td><button type="button" ng-click="input3()">3</button></td>
        <td><button type="button" ng-click="add()">+</button></td></tr>
          <tr>
          <td><button type="button" ng-click="input4()">4</td>
          <td><button type="button" ng-click="input5()">5</td>
          <td><button type="button" ng-click="input6()">6</td>
          <td><button type="button" ng-click="minus()">-</button></td>
          </tr>
          <tr>
            <td><button type="button" ng-click="input7()">7</td>
            <td><button type="button" ng-click="input8()">8</td>
            <td><button type="button" ng-click="input9()">9</td>
            <td><button type="button" ng-click="multiply()">*</td>
          </tr>
          <tr>
            <td><button type="button" ng-click="input0()">0</td>
              <td><button ng-click="leftBracket()">(</td>
                <td><button ng-click="rightBracket()">)</td>
            <td><button type="button" ng-click="divide()">/</td>
          </tr>
          <tr>
            <td ng-click="dot()"><button>.</td>
              <td><button type="button" ng-click="back()"><</td>
              <td><button type="button" ng-click="clear()">C</td>

                  <td><button>高级</td>
          </tr>


      </tbody>
      </table>
      <button class="clear" ng-click="equal()">=</button>
    </section>
    <footer><h6>All copyRight By 袁泽平 2016/4/22</h6></footer>
</body>
</html>
